nav.greedy {
  position: absolute;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
    z-index: 100;
    padding-right: 10px;
/*  background: #ff9800;*/
}
nav.greedy h1 {
  display: flex;
  align-self: stretch;
  align-items: center;
     background-color: transparent;
/*  background: #f57c00;*/
  color: #005af2;
  padding: 0 1.5rem;
  font-weight: bold;
}

nav.greedy button {
  align-self: stretch;
  transition: all .4s ease-out;
  padding: 0 1rem 0 1.5rem;
  outline: 0;
  border: 0;
  font-size: 0.9rem;
  font-weight: bold;
     background-color: transparent;
/* background: #c8c8c8;*/
  color: #404040;
}

nav.greedy button.hidden {
  transition: none;
  border-right: 0.5rem;
/*    make it transparent*/
  width: 0;
  padding: 0;
  overflow: hidden;
}

nav.greedy button::after {
  content: attr(count);
  display: inline-flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  background: #ef6c00;
  color: #f2f2f2;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.8);
  border-radius: 50%;
  font-size: 14px;
  line-height: 14px;
  margin-left: 1rem;
  margin-right: calc(-1rem + -8px);
}

ul.links {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  overflow: hidden;
}

ul.links li {
  flex: none;
  padding: 1rem;
}

.links .active {
 color: '#fff';
   font-weight: 800; 
}

ul.links li a {
color: black;}

ul.links li a {
    text-decoration: none;
}

ul.hidden-links {
  width: 100%;
  position: absolute;
  background: #1c5294;
  right: 0;
  top: 100%;
}

ul.hidden-links li a {
  color: #404040;
  text-decoration: none;
  padding-right: 1rem;

}

ul.hidden-links.hidden {
  display: none;
}

ul.hidden-links li {
  padding: 1rem;
}

/*
-- Demo Styles
*/

* {
  box-sizing: border-box;
}

html {
  background: #fefefe;
}

body {
/*  padding: 2rem;*/
    padding-right: 2%;
    padding-left: 2%;
}

h5 {
  text-align: center;
  margin: auto;
  font-size: 0.8rem;
  line-height: 140%;
  margin-top: 1rem;
  max-width: 50ex;
}

p {
  text-align: center;
  margin-top: 3rem;
}

html {
  width: 100%;
  height: 100%;
  font-family: Helvetica, sans-serif;
}

.slider {
	width: 100%;
	margin: 0 auto;
}

.slider-wrapper {
	width: 95%;
	height: 90%;
	position: absolute;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}

#main-slider {
    width: 100%;
    height: 100%;
}

#tag {
    font-size: 25px;
}

.section {
    position: absolute;
    width: 100%;
    height: 100%;
}

footer {

  padding: 10px 0;
  text-align: center;
  opacity: .33;
  color: white;
}

.wrapper {
  width: 100%;
  padding-top: 50px;
    padding-left: 10px;
padding-right: 10px;
    margin: 0 auto;
}

.tabs {
  display: table;
  table-layout: fixed;
  width: 100%;
    z-index: 100;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}
.tabs > li {
  transition-duration: .25s;
  display: table-cell;
  list-style: none;
  text-align: center;
  padding: 20px 20px 25px 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  color: white;
}
.tabs > li:before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 120%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition-duration: .25s;
  border-radius: 5px 5px 0 0;
}
.tabs > li:hover:before {
  -webkit-transform: translateY(70%);
  transform: translateY(70%);
}
.tabs > li.active {
  color: #50555a;
}
.tabs > li.active:before {
  transition-duration: .5s;
  background-color: white;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.tab__content {
  background-color: white;
  position: relative;
  width: 100%;
  border-radius: 5px;
}
.tab__content > li {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  list-style: none;
}
.tab__content > li .content__wrapper {
  text-align: center;
  border-radius: 5px;
position: relative;
    
  width: 100%;
/*    max-height: 100%;*/
  background-color: white;
}

.content__wrapper h2 {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  font-weight: 300;
}
.content__wrapper img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

 .hexagon {
  top: 35%;
  left: 12%;
  position: relative;
  width: 300px;
  height: 173.21px;
  background-image: url(../img/background.png);
  background-color: #64C7CC;
     background-size: cover;
     background-position: center;
  padding: 86.60px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 86.60px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid #64C7CC;
}

.cont {
    width: 100%;
    height: 100%;
    position: absolute;
}

#details {
    right: 0;
    margin-right: 40%;
    margin-top: 3%;
    margin-bottom: 10%;
    position: absolute;
}


#texts {
    bottom: 10px;
    width: 100%;
    z-index: 1000;
    text-align: center;
    position: absolute;
}

#scroller {
    bottom: 10px;
    width: 100%;
    text-align: center;
    position: absolute;
}

#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
 width: 100%; 
  height: 100%;
  margin: 0 auto;
  z-index: 1;
}#video-background {
    position: absolute;
    width: 100%;
    height: 100%;
/*    z-index: 1;*/
}

.ball {
  display: inline-block;
  width: 100%;
  height: 100%;

  margin: 0;
  border-radius: 50%;
  position: relative;
  -webkit-transform-style: preserve-3d;
  background: url('http://s24.postimg.org/o02nh2lg5/earth_map_huge.jpg') repeat-x;
  background-size: auto 100%;
  -webkit-animation: move-map 40s infinite linear;
  -moz-animation: move-map 40s infinite linear;
  -o-animation: move-map 40s infinite linear;
  -ms-animation: move-map 40s infinite linear;
  animation: move-map 40s infinite linear;
}

.ball:before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
/*  height: 100%;*/
  border-radius: 50%;
  box-shadow: -40px 10px 70px 10px inset;
  z-index: 2;
}

.ball:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-filter: blur(0);
  opacity: 0.3;
  background: -webkit-gradient(radial, 50% 80%, 0, 50% 80%, 100, color-stop(0%, #81e8f6), color-stop(10%, #76deef), color-stop(66%, #055194), color-stop(100%, #062745));
  background: -webkit-radial-gradient(50% 80%, circle cover, #81e8f6, #76deef 10%, #055194 66%, #062745 100%);
  background: -moz-radial-gradient(50% 80%, circle cover, #81e8f6, #76deef 10%, #055194 66%, #062745 100%);
  background: -o-radial-gradient(50% 80%, circle cover, #81e8f6, #76deef 10%, #055194 66%, #062745 100%);
  background: radial-gradient(50% 80%, circle cover, #81e8f6, #76deef 10%, #055194 66%, #062745 100%);
}

.ball .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 50, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(40%, rgba(0, 0, 0, 0.1)), color-stop(50%, rgba(0, 0, 0, 0)));
  background: -webkit-radial-gradient(50% 50%, circle cover, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  background: -moz-radial-gradient(50% 50%, circle cover, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  background: -o-radial-gradient(50% 50%, circle cover, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  background: radial-gradient(50% 50%, circle cover, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  -webkit-transform: rotateX(90deg) translateZ(-150px);
  -moz-transform: rotateX(90deg) translateZ(-150px);
  -ms-transform: rotateX(90deg) translateZ(-150px);
  -o-transform: rotateX(90deg) translateZ(-150px);
  transform: rotateX(90deg) translateZ(-150px);
  z-index: -1;
}
/*
body {
  width: 300px;
  margin: 20px auto;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(100, 100, 100, 0.2)), color-stop(40%, rgba(255, 255, 255, 0.5)), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, rgba(100, 100, 100, 0.2) 0%, rgba(255, 255, 255, 0.5) 40%, #ffffff 100%);
  background: -moz-linear-gradient(top, rgba(100, 100, 100, 0.2) 0%, rgba(255, 255, 255, 0.5) 40%, #ffffff 100%);
  background: -o-linear-gradient(top, rgba(100, 100, 100, 0.2) 0%, rgba(255, 255, 255, 0.5) 40%, #ffffff 100%);
  background: linear-gradient(top, rgba(100, 100, 100, 0.2) 0%, rgba(255, 255, 255, 0.5) 40%, #ffffff 100%);
  background-repeat: no-repeat;
}
*/

.stage {
  width: 300px;
  height: 300px;
  display: inline-block;

  margin: 20px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

@-moz-keyframes move-map {
  0% {
    background-position: -849px 0; }

  100% {
    background-position: 0 0; } }

@-webkit-keyframes move-map {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -849px 0; }
}


@-o-keyframes move-map {
  0% {
    background-position: -849px 0; }

  100% {
    background-position: 0 0; } }

@-ms-keyframes move-map {
  0% {
    background-position: -849px 0; }

  100% {
    background-position: 0 0; } }

@keyframes move-map {
  0% {
    background-position: -849px 0; }

  100% {
    background-position: 0 0; } }
.layers {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
/*    margin-top: 20px;*/
/*
    border: 10px solid rgba(0,0,0,0.25);
    max-width: 1700px;
    max-height: 700px;
*/
}
.layer {
    position: absolute;
    width: 100%;
    height: 100%;
}
.layers .layer-4
{
    background: url(http://lab.peterschmalfeldt.com/accelero/demos/images/demo1/layer-4.png) no-repeat center center;
}
.layers .layer-3
{
    background: url(http://lab.peterschmalfeldt.com/accelero/demos/images/demo1/layer-3.png) no-repeat center center;
}
.layers .layer-2
{
    position: absolute;
    width: 20%;
    height: 50%;
    margin-top: 20%;
    align-content: left;
    background: url(../img/output_7FpZck.gif) no-repeat center center;
    background-size: contain;
}
.layers .layer-1
{
    background: url(http://lab.peterschmalfeldt.com/accelero/demos/images/demo1/layer-1.jpg) no-repeat center center;
}
.info
{
    z-index: 25;
    position: absolute;
    top: 50px;
    right: 50px;
}
.info a
{
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px #000;
}

@media (max-width: 100%) {
    .layers {
        width: 100%;
        height: 100%;
        margin: 0;
        border: 0;
    }
}

@media (max-width: 100%) {
    .layers {
        width: 100%;
        height: 100%;
        margin: 0;
        border: 0;
    }
    .layers .layer-4
    {
        width: 100%;
        background: url(http://lab.peterschmalfeldt.com/accelero/demos/images/demo1/layer-4-small.png) no-repeat center center;
    }
    .layers .layer-3
    {
        width: 100%;
        background: url(http://lab.peterschmalfeldt.com/accelero/demos/images/demo1/layer-3-small.png) no-repeat center center;
    }
    .layers .layer-2
    {
        width: 100%;
        background: url(../img/output_7FpZck.gif) no-repeat center center;
    }
    .layers .layer-1
    {
        width: 200%;
        height: 200%;
        background: url(http://lab.peterschmalfeldt.com/accelero/demos/images/demo1/layer-1-small.jpg) no-repeat center center;
    }
}


/*
 * Javascript/Canvas Spinning Globe
 * Copyright (c) 2011 MIT.
 * Developed by Tarik Akyol (www.tarikakyol.com)
 */

* {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

.navigator {
        background: none !important;
}

body {
        -webkit-transform: transform3d(0,0,0);
}

/*
html,
body {
	background: #1d1f20;
	padding: 0;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	word-wrap:break-word;
}
*/

h1{color:white}
a{text-decoration: none; color: black; border: 0;}

div #spinner{
    position: absolute;
    height: 100%;
    width: 70%;
/*    margin: 245px 0px 0px 34px;*/
    padding:5%;
    overflow: hidden;
    z-index: 100;
    text-align: center;
}

.main{
    width: 50%;
    height: 70%;
    margin: 0 auto;
    padding: 0;
}

.countries-top{
    position: absolute;
    width: 60%;
    height: 14%;
/*    margin: 50px 0px 0px 66px; */
}

.countries-bottom{
    position: absolute;
    width: 60%;
    height: 14%;
    margin: 75% 0px 0px 60px;
    z-index: 1000;
}

.country{
    width: 120px;
    height: 140px;
    float: left;
    overflow: visible;
}

.country-bottom{
    font-family: Helvetica;
    font-size: 9pt;
    line-height: 11.2pt;
    width: 140px;
    height: 80px;
    padding-top: 10px;
    color: #ddd;
    overflow:visible;
}

.country-top{
    width: 120px;
    height: 50px;
    color: white;
    font-size: 30px;
    line-height: 26px;
    font-weight: bold;
}

.country-top.pierce{
    position: relative;
    width: 34px;
    height: 55px;
    float: left;
    margin-right: 4px;
}
.country-top.text{
    font-family: Helvetica;
    width: 25px;
    height: 25px;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 14px;
    left: 0.25em;
    z-index: 100;

}
.country-top.top{
    width: 35px;
    height: 25px;
    background: rgb(0,172,236);
    margin-bottom: 1px;
}
.country-top.bottom{
    width: 35px;
    height: 25px;
    background: rgb(0,172,236);
}


.divider{
    float: left;
    width: 11px;
    height: 150px;
}

.shadow{
    position: absolute;
    top: 730px;
    left: 175px;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    -webkit-border-radius: 125px;
    background-color: rgba(0,0,0,0.2);
    -webkit-transform:rotate3d(1, -0.6, 1, 90deg);
    z-index: 10;
}

.contents{
    position: absolute;
    top: 70px;
    left: 66px;
    width: 160px;
    height: 27px;
    background:url(images/contents.png) no-repeat;
    background-size: 100%;
}
/*	Circle Slider	*/

div.main_content_slider_wrapper {
	overflow: hidden;
	margin: 0 auto;
	max-width: 1000px;
}

.content_slider_wrapper  * {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

.content_slider_wrapper {
	font-family:'PTSansRegular';
	font-size:14px; line-height:20px;
	text-align:left; color:#484848;
	margin:0; padding:0; border:none;
	clear: both;
    width: 100%;
    height: 100%;
	display: block;
    z-index: 1000;
	position: relative;
}

.content_slider_wrapper h4 {
	font-size:20px;
	font-family:'BebasNeueRegular';
	color:#2a2a2a;
	margin:0;
	padding:0;
	font-weight:100;
	border:none;
}

.content_slider_wrapper_vertical {
	font-family:'PTSansRegular';
	font-size:14px; line-height:20px;
	text-align:left; color:#484848;
	margin:0; padding:0; border:none;
	clear: both;
	display: block;
}

.content_slider_wrapper_vertical h4 {
	font-size:20px;
	font-family:'BebasNeueRegular';
	color:#2a2a2a;
	margin:0;
	padding:0;
	font-weight:100;
	border:none;
}

.content_slider_wrapper .circle_slider {
	position:relative;
	width:970px;
	height:260px;
	margin:0;
	padding:0;
	border:none;
	overflow: hidden;
}
.content_slider_wrapper_vertical .circle_slider {
	position:relative;
	width:279px;
	height:970px;
	margin:0;
	padding:0;
	border:none;
	overflow: hidden;
	float: left;
}
.circle_slider_thumb {
	overflow:hidden;
	border:#282828 solid 5px;
	border-radius:84px;
	position:absolute;
	top:97px;
	width:84px;
	height:84px;
	float:left;
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
	margin:0;
	padding:0;
	cursor: pointer;
}
.circle_slider_thumb img {
	max-width: 100% !important;
	width:84px;
	margin:0 !important;
	padding:0 !important;
	border:none;
	border-radius:84px;
}
.circle_slider_big {
	overflow:hidden;
	border:#282828 solid 8px;
	border-radius:231px;
	position:absolute;
	top:24px;
	width:231px;
	height:231px;
	float:left;
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
	margin:0;
	padding:0;
}
.circle_slider_big img {
	width:231px;
	margin:0;
	padding:0;
	border:none;
}

.content_slider_wrapper .circle_slider_nav_left {
	position:absolute;
	top:334px;
	left:95px;
	height:57px;
	width:28px;
	display:block;
	margin:0;
	padding:0;
	border:none;
	overflow: hidden;
	cursor: pointer;
}
.content_slider_wrapper .circle_slider_no_border2_left {
	width: 24px;
}
.content_slider_wrapper .circle_slider_nav_left img {
	padding:19px 30px 19px 3px;
	border-radius:50px 0px 0px 50px;
	left: 0px;
	position: absolute;
	display: inline-block;
	background:black;
	box-shadow: none !important;
}
.content_slider_wrapper .circle_slider_nav_right {
	position:absolute;
	top:597px;
	left:95px;
	height:57px;
	width:28px;
	display:block;
	margin:0;
	padding:0;
	border:none;
	overflow: hidden;
	cursor: pointer;
}
.content_slider_wrapper .circle_slider_nav_right img {
	padding:19px 3px 19px 30px;
	margin-left:-26px;
	border-radius:0px 50px 50px 0px;
	left: 0px;
	position: absolute;
	display: inline-block;
	background:black;
	box-shadow: none !important;
}
.content_slider_wrapper .circle_slider_nav_left.circle_slider_no_border img {
	padding:0;
	margin-left:4px;
	border-radius:0;
	background:transparent !important;
	box-shadow: none !important;
}

.content_slider_wrapper .circle_slider_nav_right.circle_slider_no_border img {
	padding:0;
	margin-left:0;
	left: 4px;
	border-radius:0;
	background:transparent !important;
	box-shadow: none !important;
}
.content_slider_wrapper_vertical .circle_slider_nav_left {
	position:absolute;
	top:335px;
	left:92px;
	width:57px;
	height:28px;
	display:block;
	margin:0;
	padding:0;
	border:none;
	overflow: hidden;
	cursor: pointer;
}
.content_slider_wrapper_vertical .circle_slider_no_border2_left {
	height: 24px;
}
.content_slider_wrapper_vertical .circle_slider_nav_left img {
	left: 0px;
	position: absolute;
	display: inline-block;
	box-shadow: none !important;
}
.content_slider_wrapper_vertical .circle_slider_nav_right {
	position:absolute;
	top:598px;
	left:92px;
	width:57px;
	height:28px;
	display:block;
	margin:0;
	padding:0;
	border:none;
	overflow: hidden;
	cursor: pointer;
	box-shadow: none !important;
}
.content_slider_wrapper_vertical .circle_slider_nav_right img {
	left: 0px;
	position: absolute;
	display: inline-block;
	box-shadow: none !important;
}

.content_slider_wrapper .cst1 {left:0px; top:73px;}
.content_slider_wrapper .cst2 {left:109px; top:73px;}
.content_slider_wrapper .cst3 {left:218px; top:73px;}
.content_slider_wrapper .csc {left:357px; top:0px;}
.content_slider_wrapper .cst4 {left:649px; top:73px;}
.content_slider_wrapper .cst5 {left:758px; top:73px;}
.content_slider_wrapper .cst6 {left:867px; top:73px;}

.content_slider_wrapper_vertical .cst1 {left:73px; top:0px;}
.content_slider_wrapper_vertical .cst2 {left:73px; top:109px;}
.content_slider_wrapper_vertical .cst3 {left:73px; top:218px;}
.content_slider_wrapper_vertical .csc {left:0px; top:357px;}
.content_slider_wrapper_vertical .cst4 {left:73px; top:649px;}
.content_slider_wrapper_vertical .cst5 {left:73px; top:758px;}
.content_slider_wrapper_vertical .cst6 {left:73px; top:867px;}

/*	Circle Slider text	*/

.content_slider_wrapper .circle_slider_text_wrapper {
	width:100%;
	left:0px;
	top:10px;
	position:relative;
	display:inline-block;

}

.content_slider_wrapper .circle_slider_text_wrapper .circle_slider_text {
	width:460px;
	padding:0 20px 20px 0px;
	border-right:1px solid #7e7e7e;
	float:left;
	margin:0;
	border-left:none;
	border-bottom:none;
	border-top:none;
}
.content_slider_wrapper .circle_slider_text_wrapper .circle_slider_text.right {
	border-left:1px solid #7e7e7e;
	border-right:none;
	width:459px;
	padding:0 0px 20px 20px;
	margin:0 0 0 -1px;
	border-bottom:none;
	border-top:none;
}
.content_slider_wrapper .circle_slider_text_wrapper .circle_slider_text span {
	text-align:right;
	display:inline-block;
	width:100%;
	margin:0;
	padding:0;
	border:none;
}
.content_slider_wrapper .circle_slider_text_wrapper .circle_slider_text h4 {float:right;}
.content_slider_wrapper .circle_slider_text_wrapper .circle_slider_text.right span {text-align:left;}
.content_slider_wrapper .circle_slider_text_wrapper .circle_slider_text.right h4 {float:left;}

/* --------------------- */

.content_slider_wrapper_vertical .circle_slider_text_wrapper {
	left: 0px;
	position: relative;
	float: left;
}

.content_slider_wrapper_vertical .circle_slider_text_wrapper .circle_slider_text {
	width:200px;
	padding:0 20px 20px 0px;
	border-right:1px solid #7e7e7e;
	float:left;
	margin:0;
	border-left:none;
	border-bottom:none;
	border-top:none;
}
.content_slider_wrapper_vertical .circle_slider_text_wrapper .circle_slider_text.right {
	border-left:1px solid #7e7e7e;
	border-right:none;
	width:200px;
	padding:0 0px 20px 20px;
	margin:0 0 0 -1px;
	border-bottom:none;
	border-top:none;
}
.content_slider_wrapper_vertical .circle_slider_text_wrapper .circle_slider_text span {
	text-align:right;
	display:inline-block;
	width:100%;
	margin:0;
	padding:0;
	border:none;
}
.content_slider_wrapper_vertical .circle_slider_text_wrapper .circle_slider_text h4 {float:right;}
.content_slider_wrapper_vertical .circle_slider_text_wrapper .circle_slider_text.right span {text-align:left;}
.content_slider_wrapper_vertical .circle_slider_text_wrapper .circle_slider_text.right h4 {float:left;}

/* --------------------- */

.content_slider_wrapper_vertical .circle_slider_text_wrapper_v2 {
left: 30px;
position: relative;
float: left;
/*margin-top: 320px;*/
}

.content_slider_wrapper_vertical .circle_slider_text_wrapper_v2 .circle_slider_text  {
	/*width:460px;*/
	padding:0px 0px 20px 0px;
	margin:0;
	border-bottom:1px solid #7e7e7e;
	border-left:none;
	border-right:none;
	border-top:none;
	display: block;
	clear: both;
}
.content_slider_wrapper_vertical  .circle_slider_text_wrapper_v2 .circle_slider_text.right  {
	padding:20px 0px 0px 0px;
	margin:-1px 0 0 0px;
	/*width:459px;*/
	border-top:1px solid #7e7e7e;
	border-right:none;
	border-bottom:none;
	border-left:none;
	display: block;
}
.content_slider_wrapper_vertical  .circle_slider_text_wrapper_v2 .circle_slider_text span {
	text-align:center;
	display:inline-block;
	width:100%;
	margin:0;
	padding:0;
	border:none;
}

 .content_slider_wrapper_vertical .circle_slider_nav_left img {
	padding:1px 19px 30px 19px;
	border-radius:50px 50px 0px 0px;
	left: 0px;
	position: absolute;
	display: inline-block;
	background:black;
	box-shadow: none !important;
}
.content_slider_wrapper_vertical .circle_slider_nav_right img {
	padding:30px 19px 1px 19px;
	margin-top:-26px;
	border-radius:0px 0px 50px 50px;
	left: 0px;
	position: absolute;
	display: inline-block;
	background:black;
	box-shadow: none !important;
}
.content_slider_wrapper_vertical .circle_slider_nav_left.circle_slider_no_border img {
	padding:0;
	margin-left:0;
	border-radius:0;
	background:transparent !important;
	box-shadow: none !important;
}
.content_slider_wrapper_vertical .circle_slider_nav_right.circle_slider_no_border img {
	left: 0;
	top: 34px;
	padding:0;
	margin-left:0;
	border-radius:0;
	background:transparent !important;
	box-shadow: none !important;
}
.content_slider_wrapper_vertical .circle_slider_text_wrapper_v2 .circle_slider_text  h4 {text-align:center !important; float: none !important;}
.content_slider_wrapper_vertical .circle_slider_text_wrapper_v2 .circle_slider_text.right  span {text-align:center !important;}
.content_slider_wrapper_vertical .circle_slider_text_wrapper_v2 .circle_slider_text.right  h4 {text-align:center !important;}

.image_more_info {
    border-radius: 40px 40px 40px 40px;
    box-shadow: 5px 5px 5px #888888;
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}
.image_more_info a {
    position: relative;
}
.image_more_info img {
    background: none repeat scroll 0 0 #1ab99b;
    border-radius: 40px 40px 40px 40px;
    display: block;
    padding: 0px;
    width: 0px;
    overflow: hidden;
	border: 0;
	box-shadow: none !important;
}




#section23 {
    z-index: 7;
    background-color: #CCC;
}

#video_here {
    position: absolute;
    width: 100%;
    height: 100%;
}



.intro0 {
    width: 100%;
    height: 100%;
    background-position: center;
    position: relative;
    background-image: url('../img/header/Copy%20of%20Global%20Learning%20Xprize%20pic3.jpg');
    background-size: cover;
}

.intro1 {
    width: 100%;
    height: 100%;
    background-position: center;
    position: relative;
    background-image: url('../img/header/Copy%20of%204.jpg');
    background-size: cover;
}

.intro2 {
    width: 100%;
    height: 100%;
    background-position: center;
    position: relative;
    background-image: url('../img/header/Copy%20of%20405650_345913492184086_1335891273_n.jpg');
    background-size: cover;
}

.intro3 {
    width: 100%;
    height: 100%;
    background-position: center;
    position: relative;
    background-image: url('../img/header/Copy%20of%20_DSC8745.JPG');
    background-size: cover;
}

#up {
    margin-top: 65px;
    right: 3%;
    position: absolute;
}

#wrap {
  width: 960px;
}

.ch-opacity {
  opacity: 1 !important;
}

.ch-white-text h3 {
  color: #FFFFFF !important;
}
.ch-white-text h3 a {
  color: #FFFFFF !important;
  text-decoration: none !important;
}
.ch-white-text p {
  color: #FFFFFF !important;
  padding: 1px 0 !important;
  margin: 0 28px !important;
}
.ch-white-text p a {
  color: #FFFFFF !important;
  text-decoration: none !important;
  text-transform: none !important;
  font-weight: 400 !important;
  font-size: 16px !important;
}

.ch-grid {
  margin: 20px 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}
.ch-grid:after {
  content: '';
  display: table;
  clear: both;
}
.ch-grid li {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 10px;
}

.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 0%;
  position: relative;
  cursor: default;
  transition: all 0.4s ease-in-out;
}
.ch-item:before {
  content: '';
  display: table;
}
.ch-item:hover {
  box-shadow: inset 0 0 0 110px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.ch-item:hover .ch-info {
  opacity: 1;
}

.ch-info {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  backface-visibility: hidden;
}
.ch-info h3 {
  color: #333;
  position: relative;
  font-size: 20px;
  margin: 0 4px;
  padding: 70px 0 0;
  height: 36px;
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}
.ch-info p {
  color: #333;
  padding: 10px 4px;
  margin: 0 30px;
  font-size: 14px;
  border-top: 1px solid #333;
  font-family: Arial, Helvetica, sans-serif;
}
.ch-info p a {
  display: block;
  color: rgba(51, 51, 51, 0.7);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 4px;
  font-family: Arial, Helvetica, sans-serif;
}
.ch-info p a:hover {
  color: rgba(102, 102, 102, 0.8);
}

.ch-opacitybg:hover {
  box-shadow: inset 0 0 0 110px #7cbf90, 0 1px 2px rgba(0, 0, 0, 0.1) !important;
}

.ch-info-linewhite p {
  border-top-color: #FFFFFF !important;
}

.ch-img-1 {
  background-image: url(http://www.bluechipholidays.co.uk/images/newsite/Silhouette.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-2 {
  background-image: url(http://46.236.27.122:8080/media/catalogs/public/downloads/originals/users/andrea/2014/05/liam_gavin.jpg/liam_gavin.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-3 {
  background-image: url(http://www.bluechipholidays.co.uk/images/newsite/Silhouette.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-4 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Alan-Taylor.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-5 {
  background-image: url(http://www.bluechipholidays.co.uk/images/newsite/Silhouette.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-6 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Beth-Rogers.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-7 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Phil-Beattie.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-8 {
  background-image: url(http://www.bluechipholidays.co.uk/images/newsite/Silhouette.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-9 {
  background-image: url(http://www.bluechipholidays.co.uk/images/newsite/Silhouette.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-10 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Keziah-Lucking.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-11 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Michael-Turpin.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-12 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/James-Rogers.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-13 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Kate-Dixon.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-14 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Lindsay-Mccargow.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-15 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Rebecca-Bashford.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-16 {
  background-image: url(http://46.236.27.122:8080/media/catalogs/public/downloads/originals/users/andrea/2014/05/Leanne_Jones.jpg/Leanne_Jones.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-17 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Lucy-Morris.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-18 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Jenny-Phipps.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-19 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Sarah-Brimicombe.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-20 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Susie-Walker.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-21 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Miranda-Endres.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-22 {
  background-image: url(http://www.bluechipholidays.co.uk/images/newsite/Silhouette.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-23 {
  background-image: url(http://www.bluechipholidays.co.uk/images/newsite/Silhouette.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-24 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Dawn-Bristow.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-25 {
  background-image: url(http://46.236.27.122:8080/media/catalogs/public/downloads/originals/users/andrea/2014/05/lynn_huskisson.jpg/lynn_huskisson.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-26 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Sophie-Costain.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-27 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Leane-Manser.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-28 {
  background-image: url(http://46.236.27.122:8080/media/catalogs/public/downloads/originals/users/andrea/2014/05/iain_geoghegan.jpg/iain_geoghegan.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-29 {
  background-image: url(http://46.236.27.122:8080/media/catalogs/public/downloads/originals/users/andrea/2014/05/julie_cole.jpg/julie_cole.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-30 {
  background-image: url(http://www.bluechipholidays.co.uk/images/newsite/Silhouette.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-31 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Amy-Kerry.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-32 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Stewart-Black.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-33 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Sam-Wrigglesworth.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-34 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Tom-Pearson.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-35 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Mark-Williams.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-36 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Margaret-Dando.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-37 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Gary-Jolliffe.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-38 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/John-Warner.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-39 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Joe-Sweeny.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-40 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Nicole-Roe.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-41 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Joseph-Gurney.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-42 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/James-Hardy.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-43 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Shane-Horsfall.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-44 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/James-Lund.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-45 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Kelly-Marsh.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-46 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Ewan-Davy.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-47 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Tori-Kirwan-Taylor.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-48 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Laura-Moss.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-49 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Clive-Haden.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-50 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Sean-Brandon.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-51 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Allan-Legg.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-52 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Peter-Clark.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-53 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Ruby-Wood.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-54 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Claire-Cane.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-55 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/Nigel-Parrett.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-56 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/James-Byrne.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-57 {
  background-image: url(http://46.236.27.122:8080/emshare/views/modules/asset/downloads/preview/thumb/users/andrea/2014/03/John-Whitaker.jpg/thumb.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-58 {
  background-image: url(http://www.bluechipholidays.co.uk/images/newsite/Silhouette.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.ch-img-60 {
  background-color: #72a882;
}

#section1 video { 
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
/*
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
*/
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}

#polina { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: rgba(0,0,0,0.3);
  color: white;
  position: relative;
  padding: 2rem;
  width: 37%;
    z-index: 5;
    margin-top: 65px;
    margin-right: 5%;
/*  margin: 7%;*/
  float: right;
  font-size: 1.2rem;
}
#polina h1 {
    position: relative;
  font-size: 190%;
  margin-top: 0;
  text-align: center;
/*  letter-spacing: .3rem;*/
}
#polina button { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  -webkit-transition: .3s background;
  transition: .3s background;
}
#polina button:hover { 
   background: rgba(0,0,0,0.5);
}

#polina a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  -webkit-transition: .6s background;
  transition: .6s background; 
}
#polina a:hover{
  background:rgba(0,0,0,0.9);
}
#polina p {
    text-align: left;
    font-size: 120%;
}

@media screen and (max-width: 100%) { 
  div{width:100%;} 
}
@media screen and (max-device-width: 100%) {
  html { background: url(//demosthenes.info/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}

#footer {
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}
.portrait-container h1 {
  font: 400 "PT Sans";
  text-transform: uppercase;
    font-size: 150%;
}

.portrait-container strike {
  opacity: 0.5;
}

.portrait-container h2 {
  font: 400 0.75em/1 "PT Sans";
  margin: 0 0 4em;
}

[class*="fontawesome-"]:before {
  font-family: "FontAwesome", sans-serif;
  color: SteelBlue;
  margin-right: 0.3em;
}

.fontawesome-phone a {
  text-decoration: none;
}

.portrait-container {
  width: 100%;
  padding: 0 10vw;
/*  *zoom: 1;*/
  margin-top: 60px;
  text-align: center;
  position: absolute;
/*  top: 50%;*/
/*
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
*/
  //transform: translateY(-50%);
}
.portrait-container:after {
  content: "";
  display: table;
  clear: both;
}

.portrait {
  height: 5rem;
  width: 5rem;
  -moz-border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  border-radius: 2.5rem;
  display: inline-block;
  position: relative;
  margin: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.portrait:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.portrait-details {
  white-space: nowrap;
  cursor: text;
  position: absolute;
  list-style-type: none;
  padding: 0;
  bottom: 3.5rem;
  background: white;
  border: solid 1px SteelBlue;
  -moz-box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
@media all and (max-width: 64em) {
  .portrait-details {
    white-space: normal;
    margin-left: 2.5rem;
    min-width: 14rem;
  }
}
.portrait-details:before {
  content: "";
  position: absolute;
  height: 2em;
  width: 100%;
  bottom: -2em;
}
.portrait-details:after {
  content: "";
  display: inline-block;
  background-color: #fff;
  border-bottom: 1px solid SteelBlue;
  border-right: 1px solid SteelBlue;
  bottom: -6px;
  height: 10px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 10px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.show .portrait-details {
  bottom: 5.5rem;
  opacity: 1;
  visibility: visible;
}

.portrait-details li {
  color: Grey;
  padding: 0.3em 1.9em;
  font: 400 0.8em/1 "PT Sans";
}
.portrait-details li:first-child {
  font: 700 1em/1 "PT Sans";
  padding: 0.6em 1.5em;
  color: #fff;
  border-bottom: solid 1px #fff;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ2ODJiNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzhkYjNkMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #4682b4), color-stop(100%, #8db3d3));
  background-image: -moz-linear-gradient(left top, #4682b4, #8db3d3);
  background-image: -webkit-linear-gradient(left top, #4682b4, #8db3d3);
  background-image: linear-gradient(to right bottom, #4682b4, #8db3d3);
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
}
.portrait-details li:last-child {
  border-bottom: none;
  padding-bottom: 1.5em;
}
.portrait-details li:nth-child(2) {
  color: Grey;
  padding: 1.5em 1.9em 0.7em;
  font-weight: 700;
}
.portrait-details li a {
  color: SteelBlue;
  cursor: pointer;
}
.portrait-container .button {
  background-image: -webkit-linear-gradient(106deg, #f7392b 50%, #ee3022 50%);
  background-image: linear-gradient(-16deg, #f7392b 50%, #ee3022 50%);
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 40px 25px;
    position: relative;
 
}
.portrait-container .button:after {
  content: "";
  background: #fff;
  height: 1px;
  width: 26%;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 37%;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.portrait-container .button:hover {
  color: #fff;
}
.portrait-container .button:hover:after {
  width: 70%;
  left: 15%;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}




#elips {
  /*   border: 1px solid red; */
    height: 34rem;
    overflow: hidden;
    /* font-weight: bold; */
    font-size: 1.2rem;
    text-overflow: ellipsis;
    width: auto;
    /* line-height: 1.2; */
    display: flex;  /* enables centering for modern non-webkit browsers */
    flex-direction: column;
    justify-content: space-around; /* centers for modern non-webkit browsers */
    display: -webkit-box;
    -webkit-line-clamp: 17;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center; /* centers in -webkit-box automagically! */
}

#clipContent {
     height: 9rem;
    overflow: hidden;
    /* font-weight: bold; */
/*    font-size: 1.2rem;*/
    text-overflow: ellipsis;
    width: auto;
    margin-bottom: 10px;
    /* line-height: 1.2; */
    display: flex;  /* enables centering for modern non-webkit browsers */
    flex-direction: column;
    justify-content: space-around; /* centers for modern non-webkit browsers */
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center; /* centers in -webkit-box automagically! */
}

#social {
    position: relative;
    bottom: 0px;
    z-index: 3;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#elips1 {
  height: 2rem;
    overflow: hidden;
    /* font-weight: bold; */
    text-overflow: ellipsis;
    width: auto;
    /* line-height: 1.2; */
    display: flex;  /* enables centering for modern non-webkit browsers */
    flex-direction: column;
    justify-content: space-around; /* centers for modern non-webkit browsers */
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center; /* centers in -webkit-box automagically! */   
}



#section7 {
    background-color: #CCC;
}

/******************************
* STYLESHEET MA551V3 ~~~
*******************************/

.container {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
	width: 200px;
	height: 200px;
	perspective: 1000px;
	user-select: none;   
}

.cube { 
	width: 100%;
	height: 100%;
	position: absolute;
	transform: rotateY(45deg) rotateX(-15deg) rotateZ(-15deg); 
	transform-style: preserve-3d;  
}

.face {
	position: absolute;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #111;
}

.face.front { transform: translateZ(100px); }
.face.right { transform: rotateY(90deg) translateZ(100px); }
.face.left { transform: rotateY(-90deg) translateZ(100px); }
.face.back {transform:  translateZ(-100px); }
.face.up { transform: rotateX(90deg) translateZ(100px); }
.face.down { transform: rotateX(-90deg) translateZ(100px); }

.sticker {
	float: left;
	background: #aaa;
	box-shadow: 0 5px 5px rgba(255,255,255,0.1) inset, inset 0 -5px 5px rgba(0,0,0,0.1);
	width: 33%;
	height: 33%;
	margin: 0;
	padding: 0;
}

/******************************
* Rounded corners, Dayan style.
*******************************/
.sticker.tl { border-radius: 0 0 15% 0; margin-right: 0.5%;}
.sticker.tc { border-radius: 0 0 15% 15%;  margin-right: 0.5%;}
.sticker.tr { border-radius: 0 0 0 15%; 	}
.sticker.l  { border-radius: 0 15% 15% 0; margin: 0.5% 0;}
.sticker.c  { border-radius: 15%; margin: 0.5%; }
.sticker.r  { border-radius: 15% 0 0 15%; margin: 0.5% 0; }
.sticker.bl { border-radius: 0 15% 0 0;  margin-right: 0.5%;}
.sticker.bc { border-radius: 15% 15% 0 0;  margin-right: 0.5%; }
.sticker.br { border-radius: 15% 0 0 0; 	}

/******************************
* Official Rubik's colours
*******************************/
.cRed    { background: #C41E3A; }
.cOrange { background: #FF5800; }
.cGreen  { background: #009E60; }
.cBlue   { background: #0051BA; }
.cYellow { background: #FFD500; }
.cWhite  { background: #FFFFFF; }






.containers {
        max-width: 38rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

#title {
    position: relative;
    text-align: left;
}
